@model ImageRepo.Models.User;
@{
    ViewData["Title"] = "Login Register";
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/owl.carousel.css">
    <link rel="stylesheet" href="~/ImageRepo/css/owl.theme.css">
    <link rel="stylesheet" href="~/ImageRepo/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/notika-custom-icon.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/ImageRepo/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/ImageRepo/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .btnStyle {
            background-color: darkcyan !important;
            border-color: darkcyan !important;
            border-radius: 0px !important;
            width: 200px !important;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Login Register area Start-->
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <form asp-controller="Home" asp-action="Login" method="post">
                <div class="nk-form">
                    @if (Model.message != null)
                    {
                        <span class="text-danger">@Model.message</span>
                    }
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                        <div class="nk-int-st">
                            <input asp-for="Username" name="Username" type="text" class="form-control" placeholder="Username" required>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                        <div class="nk-int-st">
                            <input asp-for="Password" name="Password" type="password" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-info notika-btn-info btn-lg btnStyle">LOGIN</button>
                    <div class="fm-checkbox">
                        <label><input type="checkbox" class="i-checks"> <i></i> Keep me signed in</label>
                    </div>
                    <a href="#l-register" data-ma-action="nk-login-switch" data-ma-block="#l-register" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></a>
                </div>
            </form>
            <div class="nk-navigation nk-lg-ic">
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>
        </div>

        <!-- Register -->
        <div class="nk-block" id="l-register">
            <form asp-controller="Home" asp-action="Register" method="post">
                <div class="nk-form">
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                        <div class="nk-int-st">
                            <input asp-for="Username" name="Username" type="text" class="form-control" placeholder="Username" required>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                        <div class="nk-int-st">
                            <input asp-for="EmailAddress" name="EmailAddress" type="email" class="form-control" placeholder="Email Address" required>
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                        <div class="nk-int-st">
                            <input asp-for="Password" name="Password" type="password" class="form-control" placeholder="Password" id="txtCurrPasswd" required>
                            <span class="passwordError" id="message2"></span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div><br />
                    <button class="btn btn-info notika-btn-info btn-lg btnStyle" id="btnRegister" disabled>SIGN UP</button>
                    <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
                </div>
            </form>
            <div class="nk-navigation rg-ic-stl">
                <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>
        </div>

        <!-- Forgot Password -->
        <div class="nk-block" id="l-forget-password">
            <div class="nk-form">
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                </div>

                <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a>
            </div>

            <div class="nk-navigation nk-lg-ic rg-ic-stl">
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- Login Register area End-->
    <!-- jquery
        ============================================ -->
    <script src="~/ImageRepo/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/ImageRepo/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/ImageRepo/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/ImageRepo/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/ImageRepo/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/ImageRepo/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/ImageRepo/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/ImageRepo/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/ImageRepo/js/counterup/waypoints.min.js"></script>
    <script src="~/ImageRepo/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/ImageRepo/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/ImageRepo/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/ImageRepo/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="~/ImageRepo/js/flot/jquery.flot.js"></script>
    <script src="~/ImageRepo/js/flot/jquery.flot.resize.js"></script>
    <script src="~/ImageRepo/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="~/ImageRepo/js/knob/jquery.knob.js"></script>
    <script src="~/ImageRepo/js/knob/jquery.appear.js"></script>
    <script src="~/ImageRepo/js/knob/knob-active.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="~/ImageRepo/js/chat/jquery.chat.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="~/ImageRepo/js/wave/waves.min.js"></script>
    <script src="~/ImageRepo/js/wave/wave-active.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/ImageRepo/js/icheck/icheck.min.js"></script>
    <script src="~/ImageRepo/js/icheck/icheck-active.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="~/ImageRepo/js/todo/jquery.todo.js"></script>
    <!-- Login JS
        ============================================ -->
    <script src="~/ImageRepo/js/login/login-action.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/ImageRepo/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/ImageRepo/js/main.js"></script>
    <script>
        $(document).ready(function () {
            var AxaPasswordPolicyRegEX = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{8,})");
            
            $('#txtCurrPasswd').on('keyup', function () {
                if ($('#txtCurrPasswd').val() == "") {
                    $('#message2').html('Cannot be blank').css('color', 'red');
                    document.getElementById("btnRegister").disabled = true;
                } else {
                    if ($('#txtCurrPasswd').val().match(AxaPasswordPolicyRegEX)) {
                        $('#message2').html('Acceptable Password format').css('color', 'green');
                        document.getElementById("btnRegister").disabled = false;
                    } else {
                        $('#message2').html('Unacceptable Password format').css('color', 'red');
                        document.getElementById("btnRegister").disabled = true;
                    }
              //      $('#message2').html('');
                }
            });
        });
    </script>
</body>

</html>

